

<!DOCTYPE html>
    <html>
    <head></head>
    <body>
        <div class="row jumbotron">
            <div class="well">
               <h1 class="brown text-center">EDUCATION</h1><br/>
                
                <h4>
                    <li><Strong><em>Master of Business Administration</em> (USA) – National University</Strong></li><br/>
                    <li><Strong>Free Code Camp – <em>Full Stack Developer</em> (USA)    (2017)</Strong> </li><br/>
                    <li><Strong><em>Master of Cyber-Security</em> (pursuing) – National University</Strong></li><br/>
                </h4>
                </div>
                </div>
                
                </body>
                </html>