

<!DOCTYPE html>
    <html>
    <head></head>
    <body>
      
        <div class="row jumbotron">
            <div class="well">
                
               <h1 class="brown text-center">EXPERIENCE</h1>
                
                <h4><strong>Client: Riddhi-Siddhi Hospital(Remote-India)</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>January 2016 - Present</strong></h4>
                <h5><strong>Ruby on Rails Developer(Full stack)</strong></h5>
                <p>This setup is a private setup started 27 years back. It was purely for obstetric. My project was to create a dynamic website for the client, which included About, Service, Team, FAQ, Blog, Contact Us pages. I utilized Ruby on Rails platform to create the website.  Handling things independently including details specification, discussion with the customer, design and development of ideas and choosing technology stack. The work involved design of database architecture, design and implementation of back-end using Ruby on Rails.</p></br>
                </br>
    
                <h4><strong>Client: The UPS Store, San Diego Ca</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>May 2015 to December 2015</strong></h4>
              <h5><strong>Quality Analyst Manual</strong></h5>
              <p>Since 1980 The UPS store concept was introduced as Mail Boxes. In 2012 Mailboxes Etc, Inc became The UPS store, Inc. which offered a variety of packing, Shipping, freight, postal, printing and business services, with convenient locations and world-class service. Project involved testing of Point Of Sale, Mail Box Manager, CAMS 5, CAMS 6(New Features), Care, In Center Network Microsoft patches, FRAMIS, FortiNet Gateway (Security), Database testing, Financial Planner, Counter Manifest System (CMS), Password Manager. Testing included new features, upgrades, enhancements and production fixes.</p></p></br>
              </br>
              
               <h4><strong>Client: True Religion Brand Jeans, Los Angeles Ca</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>March 2014 to December 2014</strong></h4>
              <h5><strong>QA Manual/Automation</strong></h5>
              <p>Being a pioneer in premium denim market, True religion manufactures and markets denim and denim-related sportswear selling through a diversified network of retail, ecommerce, wholesale and licensing channels worldwide. Company has 124 U.S. stores and 31 international stores. Project involved testing of EPICOR software, which replaced KWI in the True religion retail system. Testing includes the assurance of the quality data transfer from one end to other, defect tracking, regression testing on fixed defects and new enhancements. Testing included new features, upgrades, enhancements and production fixes.</p></br>
              </br>
              
               <h4><strong>Client: Benetrac, A Paychex Company, San Diego Ca</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> Dec 2013 to March 2014</strong></h4>
              <h5><strong>QA Manual/Automation </strong></h5>
              <p>With 600+ carrier relationships and more than 14 million benefit transactions per month, Benetrac has emerged as a leader in the online benefits administration field.  Project involved testing of the software previously developed. Testing of the defect found in Production and fixed done by developer. Testing included new features, upgrades, enhancements and production fixes.</p></br>
              </br>
              
               </div>
               </div>
          
                </body>
             </html>