
<!DOCTYPE html>
    <html>
    <head></head>
    <body>
        <div class="row jumbotron">
            <div class="well">
               <h1 class="brown text-center">HOME</h1>
                
            
                             
                  <h2 class="section-heading text-center">Front End Developer</h2>
                  </br>
                    <p class="lead">In the past <a class="link" target="_blank" href="http://www.freecodecamp.com/yatenruby123">I</a> worked as a Quality Analyst and decided to become a self-taught web designer/developer in California. I am currently studying for web development via Free Code Camp and other online resources. I have <a href="https://workspace1-yaten.c9users.io/portfolio">created</a> a few websites and want to create web applications to assist 
                      others with resolving their problems.</br>  
                      </br>
                    Proficient in</br>
                    Languages:</br>
                    HTML, CSS, BootStrap, jQuery, Angular.js, Ruby.</br>
                    Tools & expertise:</br>
                    Git, Responsive Web Design, Agile Methodologies,  Waterfall Methodologies.</br>
                    Databases:</br>
                    Sql server, Postgre Sql</br>
                    Defect Tracking:</br>
                    Jira, Quality Center, TFS.</br>
                    </p></br>
                  </div>
                </body>
            </html>