

<!DOCTYPE html>
    <html>
    <head></head>
    <body>
        <div class="row jumbotron">
           <div class="well">
              <h1 class="brown text-center">PORTFOLIO</h1>
                <h3 id="below-section" class="section-subheading text-center">Below you can navigate to my recent work.</h3></br>
                </br>
                
                            <div class="row">
                            <div class="col-md-4 col-sm-6 portfolio-item">
                                <a href="http://codepen.io/rubyyatpaw2100/full/jqPzyb/" class="portfolio-link" data-toggle="modal">
                                    <div class="portfolio-hover">
                                        <div class="portfolio-hover-content">
                                            
                                        </div>
                                    </div>
                                    <img src="https://40.media.tumblr.com/ba3be7b4ad6029fac4f6a13e564a7c91/tumblr_o3jfsp2xd81vnrgefo1_1280.jpg" class="img-responsive" alt="">
                                </a>
                                <div class="portfolio-caption">
                                    <h4>Tribute project(Test)</h4>
                                    <p id="small-text" class="text-muted">HTML, CSS, Bootstrap</p>
                                </div>
                        </div>
              
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a href="http://www.yatendra-pawar.com/" target="_blank" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                       
                                    </div>
                                </div>
                                <img src="https://36.media.tumblr.com/b5b76be53f63971ad5848b94d0a082c9/tumblr_o3op9qjfwC1vnrgefo1_540.jpg" class="img-responsive" alt="Profile">
                            </a>
                            <div class="portfolio-caption">
                                <h4>My Profile(Production)</h4>
                                <p id="small-text" class="text-muted">RUBY, HTML, CSS, BOOTSTRAP, Cloud9, Heroku, JavaScript, fontawesome, PostGre Sql</p>
                            </div>
                        </div>
              
                      <div class="col-md-4 col-sm-6 portfolio-item portfolio2">
                            <a href="http://www.riddhisiddhihospital.com/" class="portfolio-link" target="_blank" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        
                                    </div>
                                </div>
                                <img src="https://41.media.tumblr.com/7d95eb9f734182cdbba2c0708cc4cc40/tumblr_o3opups03n1vnrgefo1_540.jpg" class="img-responsive" alt="">
                            </a>
                            <div class="portfolio-caption">
                                <h4>Riddhi Siddhi Hospital Project(Production)</h4>
                                <p id="small-text" class="text-muted">RUBY, HTML, CSS, BOOTSTRAP, Cloud9, Heroku, JavaScript, fontawesome, PostGre Sql</p>
                            </div>
                        </div>
                    </div>    
              <!-- End of Portfolio img2 -->
              
              <!-- Portfolio img3 -->
                    <div class="row">
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a href="http://blooming-everglades-9844.herokuapp.com/" target="_blank" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        
                                    </div>
                                </div>
                                <img src="https://40.media.tumblr.com/e200423b514b642b4d4b50e157845058/tumblr_o3oqofPSRB1vnrgefo1_540.jpg" class="img-responsive" alt="">
                            </a>
                            <div class="portfolio-caption">
                                <h4>Saas Website(Production)</h4>
                                <p id="small-text" class="text-muted">RUBY, HTML, CSS, BOOTSTRAP, Cloud9, Heroku, JavaScript, fontawesome, PostGre Sql</p></br>
                            </div>
                        </div>
                
              <!-- End of Portfolio img3 -->
              
              <!-- Portfolio img4 -->
          
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a href="http://codepen.io/rubyyatpaw2100/full/reOOaL/" target="_blank" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                    
                                    </div>
                                </div>
                                <img src="https://40.media.tumblr.com/bcf446cdfd1fb7cb586c43ea28e892de/tumblr_o3p430Ds2K1vnrgefo1_1280.jpg" class="img-responsive" alt="">
                            </a>
                            <div class="portfolio-caption">
                                <h4>Portfolio(Test)</h4>
                                <p id="small-text" class="text-muted">HTML, CSS, Bootstrap</p>
                            </div>
                        </div>
               
              <!-- End of Portfolio img4 -->
              
              <!-- Portfolio img5 -->
             
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a href="http://codepen.io/rubyyatpaw2100/full/xVZaEW/" target="_blank" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        
                                    </div>
                                </div>
                                <img src="https://36.media.tumblr.com/e75dbbf9d7276e8102b388e76d215e1c/tumblr_o3udjkA8Lr1vnrgefo1_1280.jpg" class="img-responsive" alt="">
                            </a>
                            <div class="portfolio-caption">
                                <h4>Random Quote(Test)</h4>
                                <p id="small-text" class="text-muted">HTML, CSS, JavaScript, Jquery, BootStrap, fontawesome</p>
                            </div>
                        </div>
                    </div>
           
              <!-- End of Portfolio img5 -->
              
              <!-- Portfolio img6 -->
              <div class="row">
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a href="http://codepen.io/rubyyatpaw2100/full/RaRVZN/" target="_blank" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                     
                                    </div>
                                </div>
                              <img src="https://41.media.tumblr.com/f861077638cad691518324b777772da5/tumblr_o459bxA8vz1vnrgefo1_1280.jpg" class="img-responsive" alt="">
                            </a>
                            <div class="portfolio-caption">
                                <h4>Local Weather App(Test)</h4>
                                <p id="small-text" class="text-muted">HTML, CSS, JavaScript, BootStrap, FontAwesome, JSON, jQquery, API</p>
                            </div>
                        </div>
              <!-- End of Portfolio img6 -->
              
              <!-- Portfolio img7 -->
                       <div class="col-md-4 col-sm-6 portfolio-item">
                            <a href="http://codepen.io/rubyyatpaw2100/full/BKpLom/" target="_blank" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                     
                                    </div>
                                </div>
                              <img src="https://36.media.tumblr.com/f143e47a216b2952134bda1bfb1bcde0/tumblr_o495xptHci1vnrgefo1_540.png" class="img-responsive" alt="">
                            </a>
                            <div class="portfolio-caption">
                                <h4>Random Wiki Viewer(Test)</h4>
                                <p id="small-text" class="text-muted">HTML, CSS, JavaScript, BootStrap, FontAwesome, JSON, jQquery, API</p>
                            </div>
                        </div>
                <!-- End of Portfolio img7 -->
                
                  <!-- Portfolio img8 -->
                       <div class="col-md-4 col-sm-6 portfolio-item">
                            <a href="http://codepen.io/rubyyatpaw2100/full/eZWzOB/" target="_blank" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                     
                                    </div>
                                </div>
                              <img src="https://36.media.tumblr.com/dc492661d976276042c853a6ec04f114/tumblr_o4m5a6PeZe1vnrgefo1_540.png" class="img-responsive" alt="">
                            </a>
                        <div class="portfolio-caption">
                            <h4>FCC Users on TwitchTV(Test)</h4>
                            <p id="small-text" class="text-muted">HTML, CSS, JavaScript, BootStrap, FontAwesome, JSON, jQquery, API</p>
                        </div>
                    </div>
                </div>    
                
                <!-- End of Portfolio img8 -->
                
                 <!-- Portfolio img9 -->
                <div class="row">
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a href="http://codepen.io/rubyyatpaw2100/full/qZVRem/" target="_blank" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                     
                                    </div>
                                </div>
                              <img src="https://41.media.tumblr.com/469f0b393b54611f7bee85bb325a5f73/tumblr_o6bex8p1S31vnrgefo1_540.png" class="img-responsive" alt="">
                            </a>
                            <div class="portfolio-caption">
                                <h4>FCC Tomato Clock(Test)</h4>
                                <p id="small-text" class="text-muted">HTML, CSS, JavaScript, BootStrap, FontAwesome, JSON, jQquery, API</p>
                            </div>
                        </div>
                      
                        <!-- End of Portfolio img9 -->
                        
                         <!-- Portfolio img10 -->
                
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a href="http://codepen.io/rubyyatpaw2100/full/KzmOwm/" target="_blank" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                     
                                    </div>
                                </div>
                              <img src="https://41.media.tumblr.com/3af7282fd730168d08ccbf7b8ea91e01/tumblr_o4m5vzbYpo1vnrgefo1_500.png" class="img-responsive" alt="">
                            </a>
                            <div class="portfolio-caption">
                                <h4>FCC JavaScript Calculator(Test)</h4>
                                <p id="small-text" class="text-muted">HTML, CSS, JavaScript, BootStrap, FontAwesome, JSON, jQquery, API</p>
                            </div>
                        </div>
                       
                        <!-- End of Portfolio img10 -->
                        
                         <!-- Portfolio img11 -->
                
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a href="http://codepen.io/rubyyatpaw2100/full/XdEPPJ/" target="_blank" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                     
                                    </div>
                                </div>
                              <img src="https://40.media.tumblr.com/e2b6d7a2bf7ca04fdb1dfb697204a191/tumblr_o6bezpxW5p1vnrgefo1_500.png" class="img-responsive" alt="">
                            </a>
                            <div class="portfolio-caption">
                                <h4>FCC Simon Game(Test)</h4>
                                <p id="small-text" class="text-muted">HTML, CSS, JavaScript, BootStrap, FontAwesome, JSON, jQquery, API</p>
                            </div>
                        </div>
                    </div>    
                        <!-- End of Portfolio img11 -->
                        
                         <!-- Portfolio img12 -->
                <div class="row">
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a href="http://codepen.io/rubyyatpaw2100/full/JXvdeM/" target="_blank" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                     
                                    </div>
                                </div>
                              <img src="https://40.media.tumblr.com/ad3eec01bb9207395538764699952584/tumblr_o6bf8dhTVC1vnrgefo1_540.png" class="img-responsive" alt="">
                            </a>
                            <div class="portfolio-caption">
                                <h4>FCC Tic Tac Toe(Test)</h4>
                                <p id="small-text" class="text-muted">HTML, CSS, JavaScript, BootStrap, FontAwesome, JSON, jQquery, API</p>
                            </div>
                        </div>
                    </div>    
                        <!-- End of Portfolio img12 -->
                </div>
            </div>
        </div>    
    </body>
</html>