

<!DOCTYPE html>
    <html>
    <head></head>
    <body>
        <div class="row jumbotron">
            <div class="well">
              <h1 class="brown text-center">TECHNICAL SUMMARY</h1><br/>

                <h4>
                <ul>Experience in field of IT with focus on Software Testing and QA of Web based and Client-Server applications,    
                    effective use of QA and Testing practice.</ul></br>
                    
                <ul>Good experience in developing software Test Plan, Test Case Design, and Test Scripts based on User Requirements  
                    Specification <strong>(URS)</strong> and System Requirements Specification <strong>(SRS)</strong> Documents.</ul></br>
                    
                <ul>Strong experience in software <strong>Functional Testing, Integration Testing, Regression Testing</strong>, Performance,  
                    Configuration and Usability Testing.</ul></br>
                    
                <ul>Expertise in <strong>automation</strong> testing using  <strong>Selenium, Quality Centre, SOAPUI for GUI, 
                    Client/Server and Web-based applications</strong> with cross-platform skills in Windows, Linux and Unix.</ul></br>
                    
                <ul>Conversant with all phases of Software Testing Life Cycle <strong>(STLC)</strong>, Software Development Life Cycle <strong>(SDLC)</strong> in 
                    Requirement gathering, Analysis, Design, Development, Implementation, Testing, and refinement form of <strong>V-Model</strong>.</ul></br>
                    
                <ul>Expertise in developing test documents likes Test Plans, Decomposition of requirements, Test Procedures, Creating 
                    and Executing Test Cases, Test Scripts.</ul></br>
                    
                <ul>Design and Executed <strong>Quality Test Plans</strong> and <strong>Test Cases</strong> to verify reliability, accuracy and Compatibility of 
                    application</ul></br>
                    
                <ul>Expertise in <strong>Manual and Automated Testing</strong> in different testing methodologies like <strong>Agile, Scrum, Waterfall</strong> etc.</ul></br>
               
                <ul>Wrote <strong>SQL, </strong> queries to access the data from the database tables and crosscheck the results, also been used  
                    for <strong>Automation Regression</strong> Testing.</ul></br>
                    
                <ul>Extensive used <strong>Quality Centre, Team Foundation Server</strong> for test cases, <strong>Jira/TFS</strong> for Bug Tracking and reporting.</ul><br>
                    
                <ul>Strong Experience in <strong>Functional, Smoke, Regression</strong>, Performance and <strong>UAT</strong> for the highly structural and Complex 
                    systems.</ul></br>
                    
                <ul>Expert in Testing Life Cycle <strong>(TLC)</strong>: Including Risk Analysis, Planning Process, Test Design, Performing Test, Defect  
                    Tracking, Management and Test Reporting.</ul></br>
                    
                <ul>Have Good Knowledge In <strong>ROR And Respective Technologies</strong>.</ul></br>
                    
                <ul>Participated in Performance, <strong>Load</strong> and <strong>Stress</strong> Testing.</ul></br>
                    
                <ul>Experienced in Web Technologies:- <strong>HTML, JavaScript, CSS, jQuery,, node.js, Angular.js</strong>.</ul></br>
                    
                <ul>Experience in reviewing of business requirements and design documentation for completeness and testability.</ul></br>
                    
                <ul>Knowledge of <strong>Structured Query Language (SQL)</strong>, Joins, PL/SQL Procedures & Triggers.</ul></br>
                    
                <ul>Completed training in <strong>Rails framework</strong>.</ul></br>
                    
                <ul>Practicing <strong>Free Code Camp training</strong> to help non Profits, and practicing on Odin Project.</ul></br>
                    
                <ul><strong>Created Saas website, dynamic website</strong>.</ul></br>
                    
                <ul>Extensive experience with <strong>Ruby on Rails</strong>.</ul></br>
                    
                <ul><strong>Free Code Camp has 400 hours</strong> of challenges for <strong>Front End Development Certification (10 single-page apps)</strong>.</ul></br>
                    
                <ul><strong>Free Code Camp has 400 hours</strong> of challenges for <strong>Full Stack Development Certification (5 Full Stack apps)</strong>.</ul></br>
                    
                <ul>Excellent knowledge on <strong>Linux</strong>.</ul></br>
                    
                <ul>Excellent knowledge on <strong>MySql used in Web Development</strong>. </ul></br>
                    
                
                    
              </h4>
              </div>
            </div>
                
                </body>
                </html>