

<!DOCTYPE html>
    <html>
    <head></head>
    <body>
        <div class="row jumbotron">
            <div class="well">
              <h1 class="brown text-center">TECHNICAL SUMMARY</h1>

                <h4>
                <ul>Experience in field of IT with focus on Software Testing and QA of Web based and Client-Server applications,    
                    effective use of QA and Testing practice.</ul></br>
                    
                <ul>Have a good experience in Package Delivery, Retail, Insurance industry.</ul><br>
                    
                <ul>Good experience in developing software Test Plan, Test Case Design, and Test Scripts based on User Requirements  
                    Specification (URS) and System Requirements Specification (SRS) Documents.</ul></br>
                    
                <ul>Strong experience in software Functional Testing, Integration Testing, Regression Testing, Performance,  
                    Configuration and Usability Testing.</ul></br>
                    
                <ul>Expertise in automation testing using HP Quick Test Pro/UFT, Load runner, Quality Centre, SOAPUI for GUI, 
                    Client/Server and Web-based applications with cross-platform skills in Windows, Linux and Unix.</ul></br>
                    
                <ul>Conversant with all phases of Software Testing Life Cycle (STLC), Software Development Life Cycle (SDLC) in 
                    Requirement gathering, Analysis, Design, Development, Implementation, Testing, and refinement form of V-Model.</ul></br>
                    
                <ul>Expertise in developing test documents likes Test Plans, Decomposition of requirements, Test Procedures, Creating 
                    and Executing Test Cases, Test Scripts.</ul></br>
                    
                <ul>Design and Executed Quality  Test Plans and Test Cases to verify reliability, accuracy and Compatibility of 
                    application</ul></br>
                    
                <ul>Expertise in Manual and Automated Testing in different testing methodologies like Agile, Scrum, Waterfall etc.</ul></br>
                    
                <ul>Experience in SOA based applications, Web Services, SOAP, XML, WSDL, Groovy Scripting using SOAPUI tool. 
                     Modified end points when we worked on different servers and different versions of Web Services.</ul></br>
  
                <ul>Wrote SQL, PL/SQL queries to access the data from the database tables and crosscheck the results, also been used  
                    for Automation Regression Testing.</ul></br>
                    
                <ul>Extensive used Quality Centre, Team Foundation Server for test cases, Jira/TFS for Bug Tracking and reporting.</ul><br>
                    
                <ul>Strong Experience in Functional, Smoke, Regression, Performance and UAT for the highly structural and Complex 
                    systems.</ul></br>
                    
                <ul>Expert in Testing Life Cycle (TLC): Including Risk Analysis, Planning Process, Test Design, Performing Test, Defect  
                    Tracking, Management and Test Reporting.</ul></br>
                    
                <ul>Have Good Knowledge In ROR And Respective Technologies.</ul></br>
                    
                <ul>Participated in Performance, Load and Stress Testing.</ul></br>
                    
                <ul>Experienced in Web Technologies:- HTML, JavaScript, CSS, jQuery,, node.js, Angular.js.</ul></br>
                    
                <ul>Experience in reviewing of business requirements and design documentation for completeness and testability.</ul></br>
                    
                <ul>Knowledge of Structured Query Language (SQL), Joins, PL/SQL Procedures & Triggers.</ul></br>
                    
                <ul>Completed training in Rails framework.</ul></br>
                    
                <ul>Practicing Free Code Camp training to help non Profits, and practicing on Odin Project.</ul></br>
                    
                <ul>Created Saas website, dynamic website.</ul></br>
                    
                <ul>Extensive experience with Ruby on Rails.</ul></br>
                    
                <ul>Free Code Camp has 400 hours of challenges for Front End Development Certification (10 single-page apps).</ul></br>
                    
                <ul>Free Code Camp has 400 hours of challenges for Full Stack Development Certification (5 Full Stack apps).</ul></br>
                    
                <ul>Excellent knowledge on Linux.</ul></br>
                    
                <ul>Excellent knowledge on AngularJS.</ul></br>
                    
                <ul>Excellent knowledge on Cloud Computing Amazon Web Services.</ul></br>
                    
                <ul>Excellent knowledge on PHP & MySql Web Development. </ul></br>
                    
                <ul>Learning Python Programming.</ul></br>
                    
                <ul>Familiar with Android App development.</ul></br>
                    
              </h4>
                
                </body>
                </html>