



<!DOCTYPE html>
    <html>
    <head></head>
    <body>
        <div class="row jumbotron">
            <div class="well">
               <h1 class="brown text-center">SKILLS</h1>
                
                <h4>
                    <ul>Operating Systems: MS Windows2000/XP, Windows NT & Windows 7, UNIX Mainframe.</ul></br>
                    <ul>Languages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: C, C++, Java SQL, PL/SQL, XML, CSS, VB Script, Java Script, HTML, Ruby, jQuery</ul></br>
                    <ul>Testing Tools&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: HP QTP10/11.5, Load Runner11.0, Quality Centre 9.2/10,SoapUI4.5.1</ul></br>
                    <ul>Databases&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: MS SQL Server, Oracle 10/11, Toad, MS – Access.</ul></br>
                    <ul>Browser&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: IE, Firefox, Google Chrome, Safari</ul></br>
                    <ul>Defect Tracking&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Jira, Quality Center, TFS – Visual Studios. </ul></br> 
                    <ul>Web Servers&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Web Logic 8.0, Web Sphere 6.0, Tomcat, Visual Studio, Werick, Heroku.</ul></br>
                    <ul>Support Software&nbsp;       : MS Office (Word, Excel, PowerPoint, Outlook)</ul></br>
                    <ul>Links to Github/
                    <ul>BitBucket &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: On Request</ul></br>
                    
                </h4>
                
                </body>
                </html>