



<!DOCTYPE html>
    <html>
    <head></head>
    <body>
        <div class="row jumbotron">
            <div class="well">
               <h1 class="brown text-center">SKILLS</h1><br/>
                
                <h4>
                    <ul><li><em><strong>Operating Systems</em></strong>: MS Windows2000/XP, Windows NT & Windows 7, UNIX Mainframe.</li></ul></br>
                    <ul><li><em><strong>Languages</em></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: C, C++, Java SQL, PL/SQL, XML, CSS, VB Script, Java Script, HTML, Ruby, jQuery</li></ul></br>
                    <ul><li><em><strong>Testing Tools</em></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: HP QTP10/11.5, Load Runner11.0, Quality Centre 9.2/10,SoapUI4.5.1</li></ul></br>
                    <ul><li><em><strong>Databases</em></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: MS SQL Server, Oracle 10/11, Toad, MS – Access.</li></ul></br>
                    <ul><li><em><strong>Browser</em></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: IE, Firefox, Google Chrome, Safari.</li></ul></br>
                    <ul><li><em><strong>Defect Tracking</em></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Jira, Quality Center, TFS – Visual Studios.</li> </ul></br> 
                    <ul><li><em><strong>Web Servers</em></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Web Logic 8.0, Web Sphere 6.0, Tomcat, Visual Studio, Werick, Heroku.</li></ul></br>
                    <ul><li><em><strong>Support Software</em></strong>&nbsp;       : MS Office (Word, Excel, PowerPoint, Outlook)</li></ul></br>
                    <ul><li><em><strong>Links to Github/</em></strong>
                    <ul><strong>BitBucket</em></strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: On Request</li></ul></br>
                    
                </h4>
            </div>
        </div>    
                
    </body>
</html>