
<footer class="footer navbar navbar-default navbar-fixed-bottom">
    <div>
       <h6 class="text-right"> Written and coded by <a href="http://www.freecodecamp.com/yatenruby123">Yatendra Pawar</a>.</h6>
        <h6 class="copyright text-right small">Copyright &copy; YatendraPawar 2016. All Rights Reserved</h6>    
       
    </div>
</footer>